<!DOCTYPE html>
<html>
<head>
  <link rel="icon" href="/img/cloud.png ">
  <title>404</title>
  <link rel="stylesheet" href="/css/style.css">

</head>
<body>
  <div class="main-content">
    {{>header}}

    <p>{{errorM}}</p>

  </div>

  <!-- <p>{{Error2}}</p> -->
  {{>footer}}
</body>

</html>
